<category-admin-page>
  <div class="page page-shop">

    <admin-header title="Manage Product Categories">
      <div slot="right">
        <a href="/admin/shop/category/create" class="btn btn-lg btn-success">
          Create Category
        </a>
      </div>
    </admin-header>
    
    <div class="container-fluid">
    
      <grid grid={ props.grid } table-class="table table-striped table-bordered" title="Categories Grid" />
    
    </div>
  </div>
</category-admin-page>
