<product-admin-page>
  <div class="page page-shop">

    <admin-header title="Manage Products">
      <div slot="right">
        <a href="/admin/shop/product/create" class="btn btn-lg btn-success">
          Create
        </a>
      </div>
    </admin-header>

    <div class="container-fluid">

      <grid grid={ props.grid } title="All Products" rows-class="row row-eq-height" />

    </div>
  </div>
</product-admin-page>
